<div class="topnav">
  <a class="active" routerLink="/welcome">Keycloak SSO Demo 2</a>
  <ul>
    <!-- <li>
      <rux-monitoring-icon-micro
        icon="altitude"
        sublabel="Monitoring"
      ></rux-monitoring-icon-micro>
    </li>
    <li>
      <rux-monitoring-icon-micro
        icon="altitude"
        sublabel="Foobar"
      ></rux-monitoring-icon-micro>
    </li>
    <li>
      <rux-monitoring-icon-micro
        icon="altitude"
        notifications="1"
        sublabel="Stuff"
      ></rux-monitoring-icon-micro>
    </li> -->

    <li>
      <div class="toolbar-icon">
        <span class="user">
          <rux-icon-micro
            size="2.5rem"
            icon="person-outline-micro"
          ></rux-icon-micro>
        </span>
        <span class="admin">
          <rux-icon-micro size="1rem" icon="add-micro"></rux-icon-micro>
        </span>
        <span class="explorer">
          <rux-icon-micro size="1rem" icon="explicit-micro"></rux-icon-micro>
        </span>
      </div>
      <div class="sublabel">
        <span>Settings</span>
      </div>
    </li>

    <!-- <li>
      <rux-monitoring-icon-micro
        icon="altitude"
        notifications="1"
        sublabel="Settings"
      ></rux-monitoring-icon-micro>
    </li> -->
  </ul>
</div>
